/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

 html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, i, center,
dl, dt, dd, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} 
/* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 

/* My Code */
body {
    max-height: 414px;
    font-family: 'Montserrat', sans-serif;
    background-color: #F2F2F2;
    display: grid;
    grid-template-areas: 
    "nav"
    "header"
    "main"
    "footer";
    grid-template-columns: 1fr;
}

/* Nav */



nav {
    grid-area: nav;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   
}

nav li {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    display: block;
    font-family: 'Bebas Neue', sans-serif;
    color: #eb5428;
}

ul img {
    width: 10%;
    padding-top: 10px;
    padding-right: 10px;
}

[href="#home"] {
    display: grid;
    grid-column: 2/3;
    position: absolute;
    padding: 37px 80px;
    left: 25%;
    top: 0;
    background-color: #eb5428;
    z-index: 1;
}

.avatar {
    grid-column: 3;
    font-family: 'Bebas Neue', sans-serif;
    width: 100%;
    margin-top: 30px;
    margin-left: 65px;

}

.avatar svg{
    display: block; 
    padding-left: 10px;   
}

   
nav ul {
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
}

label {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

label span {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    margin-left: 3px;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}

#dropdown {
    display: none;
}

input:checked ~ ul {
    max-height: 500px;
}

input:checked ~ label span {
    background: transparent;
}

input:checked ~ label span:before {
    transform: rotate(-45deg);
}

input:checked ~ label span:after {
    transform: rotate(45deg);
}
input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;
}
 /* Search bar */ 
 
 .search-bar {
    display: block;
 }
 .search {
    position: absolute;
    border: 3px solid #eb5428;
    height: 40px;
    top: 180px;
    left: 30%;
 }

 button {
    position: absolute;
    top: 180px;
    left: 60%;
    background-color: #eb5428;
    border: 2px solid #eb5428;
    
 }

/* Main Section */
main {
    grid-area: main;
}

h1 {
    font-size: 40px;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 130px;
}

/* Header */

header {
    grid-area: header;
}

/* Menu Icons */
menu {
    display: flex;
}

menu li {
    list-style-type: none;
    margin: 0 auto;
}

 menu a {
    text-decoration: none;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    color: #eb5428;
    line-height: 30px;
 }

 menu span {
    padding-left: 4px;
 }
 menu svg {
    display: block;
 }
 .justify {
    padding-left: 30px;
 }
 .street-taco {
    width: 100%;
 }

 p {
    font-size: 16px;
    margin: 10px;
    line-height: 25px;
 }


 h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
    text-align: center;
    margin: 10px;
 }

 /* Details */

dt {
    margin-left: 10px;
    margin-bottom: 10px;
}

b {
    padding-right: 10px;
}

/* Directions */

#directions li{
    margin-bottom: 20px;
    margin-top: 5px;
    line-height: 25px;
}

/* Ingredients */

#ingredients li {
   padding-bottom: 10px;
}

/* Dish */

#dish {
    background-color: #7abfbf;
}

#dish h2 {
    padding-top: 15px;
    padding-bottom: 30px;
}

figure {
    display: flex;
    margin-bottom: 40px;
    margin-left: 15px;
}
h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
    margin-left: 15px;
}

figcaption {
    margin-left: 15px;
}

#dish p {
    margin-left: 15px;
    font-weight: bold;
}
.dish-img {
   max-width: 100px;
}

.dish-img:last-of-type {
    margin-bottom: 15px;
}

.stars {
    margin-left: 15px;
}

.stars svg {
    padding-right: 15px;
    
}

/* Footer */
footer {
    grid-area: footer;
}

.menu-bttm svg {
    padding-left: 13px;
}

footer img {
    margin: 30px auto;
    display: block;
    width: 50%;
}

footer p {
    text-align: center;
    font-weight: bold;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
}

@media screen and (min-width: 768px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
   .hamburger-menu {
    display: inline-block;
   }
    nav ul {
        overflow: visible;
        max-height: fit-content;
        display: flex;
        padding-left: 50px;
    }

    ul img {
        width: 30%;
    }

    .avatar {

    }

    [href="#home"] {
        position: relative;
        left: 0;
        padding: 0;
    }

    #top {
        grid-column: 1/ span 2;
    }

    h1 {
        text-align: left;
        margin-left: 20px;
    }

    label {
        display: none;
        height: 0px;
        width: 0px;
    }

    #top menu {
        position: absolute;
        width: 100%;
        padding-top: 20px;
        background:rgba(255, 255, 255, .7);
    }

    #details {
        grid-column: 1/ span 2;
        text-align: center;
    }


    #ingredients {
        grid-column: 1/2;
    }

    #ingredients ul {
        line-height: 30px;
    }

    #directions {
        grid-column: 2/2;
    }

    #dish {
      grid-column: 1/ span 2;
    }

    .dish-container {
        display:flex;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 25px;
    }

    .menu-bttm {
        grid-column: 2/2;
    }
    footer img {
        grid-column: 1/2;
        grid-row: 1/3;
    }
    footer p {
        grid-column: 1/2;
    }
}


@media screen and (min-width:1280px) {

.top-content {
    display:flex;
}

#top h1 {
    text-align: center;
}
#top img {
    grid-column: 1/ span 2;
    width: 50%;
}

#top menu {
    grid-column: 1;
    display: block;
    position: relative;
    background: #ffffff;
   width: fit-content;
   border: 2px solid #eb5428;
   padding-right: 20px;

}

[href="#jump"] {
    padding-right: 10px;
}

#top li {
    padding-bottom: 30px;
    padding-left: 50px;
}

#top p {
    grid-column: 3/span 4;
    height:
    
}

    #details {
        background-color: #0d0d0d;
        color: #7abfbf;
    }
    #details  {
        display: flex;
    }
figure {
    display: flex;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.menu-bttm {
    grid-column: 3;
}
footer img {
    grid-column: 1;
}
footer p {
    grid-column: 2
}

}